<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toshiba.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity android:name=".profile" />
        <activity android:name=".projectspage" />
        <activity android:name=".registration" />
        <activity android:name=".projectp2" />
        <activity android:name=".Emergency" />
        <activity
            android:name=".search"
            android:theme="@style/AppTh" />
        <activity android:name=".project2016" />
        <activity android:name=".setting" />
        <activity android:name=".contact_us" />
        <activity android:name=".pop_up_pass" />
        <activity android:name=".account" />
        <activity android:name=".Arrangement_words" />
        <activity android:name=".prophet" />
        <activity android:name=".english_language"></activity>
    </application>

</manifest>